body {
	background-color:beige;
	}
#content {
	width:1024px;
	margin:0 auto;
    background-color:SeaShell;
	}
.intro {
	
	padding:150px 0;
	margin:0 auto;
	}
.intro p {
	color:YellowGreen;
    font-family: 'Gloria Hallelujah', cursive;
	}
.intro h1 {
	color:Red;
    font-family: 'Lobster', cursive;
	}